$failedTextColor: #CC2929;  
$failedBorderColor: #CC2929;
$failedBackgroundColor: #FFF2F2;
$failedHederColor: #FFCCCC;

$passedTextColor: #4189D2;
$passedBorderColor: #4189D2;
$passedHeaderColor: #C0E0FF;
$passedBackgroundColor: #EDF6FF;

$conditionalyTextColor: #FFB17A;
$conditionalyBorderColor: #FFCDA8;
$conditionalyHeaderColor: #FFD2B3;
$conditionalyBackgroundColor: #FFF0E6;

$primaryTextColor: #4A4A4A;
$secondaryTextColor: #B5B5B5;