$failedTextColor: #CC2929;  
$failedBorderColor: #CC2929;
$failedBorderColorSecondary: #FFCCCC;
$failedBackgroundColor: #FFF2F2;
$failedHederColor: #FFCCCC;

$passedTextColor: #4189D2;
$passedBorderColor: #4189D2;
$passedBorderColorSecondary: #C0E0FF;
$passedHeaderColor: #C0E0FF;
$passedBackgroundColor: #EDF6FF;

$conditionallyTextColor: #ff822a;
$conditionallyBorderColor: #FFCDA8;
$conditionallyBorderColorSecondary: #FFD2B3;
$conditionallyHeaderColor: #FFD2B3;
$conditionallyBackgroundColor: #FFF0E6;

$primaryTextColor: #4A4A4A;
$secondaryTextColor: #969696;

$tableHeaderBackground: #D8D8D8;
$buttonDisabledBackground: #E0E0E0;

$defaultCardBorderColor: #666666;
$defaultCardBackground: #E0E0E0;

$filterBackground: #A3D9A3;
$filterButtonEnabled: #3D994D;
$filterButtonDisabled: #79BF80;
$filterButtonTextColor: #FFFFFF;

@mixin scrollbar {
    &::-webkit-scrollbar {
        background-color:#fff;
        width:16px
    }
    
    &::-webkit-scrollbar-track {
        background-color:#fff
    }
    
    &::-webkit-scrollbar-thumb {
        background-color:#babac0;
        border-radius:16px;
        border:4px solid #fff
    }
    
    &::-webkit-scrollbar-button {display:none}
}

@mixin nonselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}