@import "vars";

@mixin selectable {
    &.selected {
        transition: border-color 0.5s, background-color 0.5s;
        -webkit-transition: border-color 0.5s, background-color 0.5s;
    }

    &.passed {
       &.selected {
           background-color: $passedBackgroundColor;
           border-color: $passedBorderColor;           
       }

        h3 {
            color: $passedTextColor;
        }
    }

    &.failed {
        &.selected {
            background-color: $failedBackgroundColor;
            border-color: $failedBorderColor;
        }

        h3 {
            color: $failedTextColor;
        }
    }

    &.conditionaly {
        &.selected {
            background-color: $conditionalyBackgroundColor;
            border-color: $conditionalyBorderColor;
        }

        h3 {
            color: $conditionalyTextColor;
        }
    }
}

.card-root {
    @include selectable;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 10px 10px 10px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
}



.card-header {
    h3 {
        margin: 0;
    }

    p {
        font-size: 11px;
        color: $secondaryTextColor;
        margin: 2px 0px 0px 5px;
    }
}

.card-body {
    display: block;
    box-sizing: border-box;

    &-verification {
        &.passed {
            h4 {
                color: $passedTextColor;
            }
        }

        &.failed {
            h4 {
                color: $failedTextColor;
            }
        }

        &.conditionaly {
            h4 {
                color: $conditionalyTextColor;
            }
        }
    }
}

.table-root {
    table {
        border-collapse: collapse;
        border: 1px solid black;
    }
    td {
        border: 1px solid black;
        padding: 0;
    }
    th {
        border: 1px solid gray;
        padding: 0;
        background-color: #B7B3BB;
    }

    display: block;
    width: 100%;
    height: auto;
}

.table-row-toogler {
    p {
        margin: 0;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
    }

    td {
        cursor: pointer;
    }
}

.table-row-value {
    p {
        margin: 0;
        text-decoration: none;
        font-size: 14px;
    }
}

.actions-list {
    @include scrollbar;
    height: 100%;
    overflow-y: scroll;
}