@import "vars";

@mixin selectable {
    &.selected {
        transition: border-color 0.5s, background-color 0.5s;
        -webkit-transition: border-color 0.5s, background-color 0.5s;
    }

    &.passed {
        &.selected {
            background-color: $passedBackgroundColor;
            border-color: $passedBorderColor;           
        }

        &.root {
            border-color: $passedBorderColorSecondary;
        }

        h3 {
            color: $passedTextColor;
        }
    }

    &.failed {
        &.selected {
            background-color: $failedBackgroundColor;
            border-color: $failedBorderColor;
        }

        &.root {
            border-color: $failedBorderColorSecondary;
        }

        h3 {
            color: $failedTextColor;
        }
    }

    &.conditionally_passed {
        &.selected {
            background-color: $conditionallyBackgroundColor;
            border-color: $conditionallyBorderColor;
        }

        &.root {
            border-color: $conditionallyBorderColorSecondary;
        }

        h3 {
            color: $conditionallyTextColor;
        }
    }
}

.action-card {
    @include selectable;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;

    h4 {
        margin: 0px;
    }

    &-header {
        display: flex;
        width: 100%;

        h3 {
            margin: 0;
        }

        p {
            font-size: 12px;
            color: $secondaryTextColor;
            margin: 2px 0px 0px 5px;
        }

        &-name {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
        }

        &-status {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
        }
    }

    &-body {
        display: block;
        box-sizing: border-box;

        p {
            word-break: break-all;
        }

        pre {
            overflow-x: scroll;
        }

        &-params {
            padding-left: 10px;
        }

        &-verification {
            @include selectable();
            border: 2px solid transparent;
            border-radius: 5px;
            padding-bottom: 5px;

            &.passed {
                h4 {
                    color: $passedTextColor;
                }
            }

            &.failed {
                h4 {
                    color: $failedTextColor;
                }
            }

            &.conditionally_passed {
                h4 {
                    color: $conditionallyTextColor;
                }
            }
        }
    }
}

.actions-list {
    @include scrollbar;
    height: 100%;
    overflow-y: scroll;
    padding: 0 5px;
}