@import "vars"; 

.layout {
    display: grid;
    height: 100%;
    grid-template: 70px 65px calc(100% - 135px) / 1fr;
    grid-template-areas:
        "header" 
        "buttons"
        "main-content";

    &.filter {
        grid-template: 130px 65px calc(100% - 190px) / 1fr;
        grid-template-areas:
            "header" 
            "buttons"
            "main-content";
    }

    &-header {
        grid-area: header;
    }

    &-buttons {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template: auto / auto 1fr;
        grid-template-areas: "left right";
        &.split {
            grid-template: 1fr / 1fr 1fr;
            //need to work in firefox
            grid-template-areas: "left right";
        }

        &-left {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            grid-area: left;
        }

        &-right {
            display: inline-flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            grid-area: right;
        }
    }

    &-content {
        grid-area: main-content;

        &.split {
            
        }

        
    }
}   
