@import "vars";

.message-card {
    width: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 5px 0;
    border-color: $defaultCardBackground;

    &.selected {
        border-color: $defaultCardBorderColor;
    }

    &.passed {
        background-color: $passedBackgroundColor;
        border-color: $passedBorderColor;
    }

    &.failed {
        background-color: $failedBackgroundColor;
        border-color: $failedBorderColor;
    }

    &.conditionally_passed {
        background-color: $conditionallyBackgroundColor;
        border-color: $conditionallyBorderColor;
    }


    &-header {
        min-height: 45px;
        padding: 7px 5px 9px 10px;
        position: relative;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 200px 40px auto 40px 1fr 40px;
        grid-template-areas: "action-chips name name-value name-value name-value prediction-icon"
                             "timestamp-value session from-value session-icon to-value prediction-icon";

        &-session, &-name, &-timestamp-value, &-name-value, &-from-value, &-to-value {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 3px;

            span {
                display: block;
                font-size: 10px;
                color: $primaryTextColor;
            }

            p {
                font-size: 13px;
                color: $primaryTextColor;
                margin: 0;
                font-weight: bold;
            }
        }

        &-timestamp-value, &-name-value, &-from-value, &-to-value {
            padding-left: 5px;
        }

        &-name {
            grid-area: name;
        }

        &-session {
            grid-area: session;
        }

        &-session-icon {
            grid-area: session-icon;
        }

        &-timestamp-value {
            grid-area: timestamp-value;
        }

        &-from-value {
            grid-area: from-value;
            margin-right: 25px;
        }

        &-to-value {
            grid-area: to-value;
        }

        &-name-value {
            grid-area: name-value;
        }

        &-session-icon {
            grid-area: session-icon;
            background-image: url('../../resources/icons/arr2-right.svg');
            height: 25px;
            width: 25px;
            background-size: 100%;
        }

        &-action {
            grid-area: action-chips;
            display: flex;

            &-chip {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid transparent;
                border-radius: 10px;
                height: 20px;
                width: auto;
                min-width: 20px;
                margin: 0 5px;

                &.passed {
                    border-color: $passedHeaderColor;
                }

                &.failed {
                    border-color: $failedHederColor;
                }

                &.conditionally_passed {
                    border-color: $conditionallyHeaderColor;
                }

                p {
                    font-size: 10px;
                    padding: 0 5px;
                }
            }
        }

        &::after {
            border-bottom: 2px solid $defaultCardBackground;
            padding: 0 20px;
            content: '';
            position: absolute;
            bottom: 0px;
            left: 10px;
            right: 10px;
        }
    }

    &-content {
        position: relative;
        padding: 7px 10px 10px 15px;
        height: 100%;

        &.passed {
            background-color: $passedBackgroundColor;
        }
    
        &.failed {
            background-color: $failedBackgroundColor;
        }
    
        &.conditionaly_passed {
            background-color: $conditionallyBackgroundColor;
        }

        p {
            margin: 0px;
            font-size: 13px;    
        }

        &-human {
            padding-top: 5px;

            p {
                word-break: break-all;
                line-height: 21px;
            }
        }

        &-raw {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-top: 10px;
            font-family: monospace;
            line-height: 18px;
            letter-spacing: 0.5px;
            font-size: 11px;

            &-numbers {
                color: $secondaryTextColor;
            }

            &-symbols, &-string {
                color: $primaryTextColor;
                padding-left: 5px;
                display: flex;

                &:hover {
                    background: $messageCardRawHoverBackground;
                }
            }

            &-copy-btn {
                display: inline-block;
                margin: 4px 4px 4px 10px;
                height: 13px;
                width: 13px;
                background-image: url('../../resources/icons/clipboard.svg');
                background-size: 100%;
                filter: opacity(0.6);
                cursor: pointer;

                &:hover {
                    filter: opacity(1);
                }
            }
        }

        &-controls {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            padding-top: 10px;

            &-showraw {
                @include unselectable;
                display: flex;
                align-items: center;
                cursor: pointer;
                font-size: 13px;
                color: $primaryTextColor;

                &-title {
                    font-weight: bold;
                }

                &-icon {
                    height: 14px;
                    width: 14px;
                    background-size: 100%;
                    margin-left: 5px;
                    
                    &.expanded {
                        background-image: url(../../resources/icons/arr4-up.svg);
                    }

                    &.hidden {
                        background-image: url(../../resources/icons/arr4-down.svg);
                    }
                }
            }

            &-copy-all {
                @include unselectable;
                display: inline-flex;
                align-items: center;
                margin-left: 10px;
                padding: 2px;
                cursor: pointer;

                &-icon {
                    height: 13px;
                    width: 13px;
                    background-image: url('../../resources/icons/clipboard.svg');
                    background-size: 100%;
                    filter: opacity(0.6);
                }

                &-title {
                    font-size: 12px;
                    color: $primaryTextColor;
                    padding-left: 5px;
                }

                &:hover {
                    background: $messageCardRawHoverBackground;
                }
            }
        }
    }
}

.messages {

    height: 100%;

    &-control {
        height: 50px;
    }

    &-list {
        @include scrollbar;
        overflow-y: scroll;
        height: calc(100% - 50px);
        padding: 0 5px;
        word-wrap: break-word;
    }
}