@import "vars";

.messages-table-root {
    padding: 5px;
    width: 100%;
    height: 100%;
    min-width: 450px;
    overflow-y: scroll;
    overflow-x: hidden;

    table {
        width: 100%;
        table-layout: fixed;
        border: 2px solid transparent;
        word-wrap: break-word;
        border-collapse: collapse;
    }

    th {
        background-color: $tableHeaderBackground;
        color: $primaryTextColor;
        height: 50px;
    }

    td {
        border: 2px solid transparent;
        padding: 5px 3px 2px 3px;
    }

    th.field {
        width: 90px;
    }

    .messages-table-row {
        td {
            border-width: 0;
        }

        &.passed {
            td {
                background-color: $passedBackgroundColor;
                border-color: $passedBorderColor;
            }
        }

        &.failed {
            td {
                background-color: $failedBackgroundColor;
                border-color: $failedBorderColor;
            }
        }

        &.conditionaly {
            td {
                background-color: $conditionalyBackgroundColor;
                border-color: $conditionalyBorderColor;
            }
        }

        &.selected {
            td:first-child {
                border-left-width: 2px;
            }
            td:last-child {
                border-right-width: 2px;
            }

            &.first {
                td {
                    border-top-width: 2px;
                }
            }

            &.last {
                td {
                    border-bottom-width: 2px;
                }
            }
        }
        
    }
}

.message-card-root {
    width: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 5px 0;

    &.passed {
        background-color: $passedHeaderColor;
        border-color: $passedHeaderColor;

        &.selected {
            border-color: $passedBorderColor;
        }
    }

    &.failed {
        background-color: $failedHederColor;
        border-color: $failedHederColor;

        &.selected {
            border-color: $failedBorderColor;
        }
    }

    &.conditionaly {
        background-color: $conditionalyHeaderColor;
        border-color: $conditionalyHeaderColor;

        &.selected {
            border-color: $conditionalyBorderColor;
        }
    }


    .message-card-header {
        min-height: 45px;
        display: grid;
        grid-template: auto / 110px 1fr 1fr 1fr;
        grid-template-areas: "timestamp name from to";

        &-timestamp, &-from, &-to, &-name {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 5px;

            span {
                display: block;
                font-size: 10px;
                color: $primaryTextColor;
            }

            p {
                font-size: 16px;
                color: $primaryTextColor;
                margin: 0;
            }
        }

        &-timestamp {
            grid-area: timestamp;
        }

        &-from {
            grid-area: from;
        }

        &-to {
            grid-area: to;
        }

        &-name {
            grid-area: name;
        }
    }

    .message-card-content {
        position: relative;
        padding: 7px 10px 26px 10px;
        height: 100%;
        background: white;

        &.passed {
            background-color: $passedBackgroundColor;
        }
    
        &.failed {
            background-color: $failedBackgroundColor;
        }
    
        &.conditionaly {
            background-color: $conditionalyBackgroundColor;
        }

        p {
            margin: 0px;
        }

        &-human {

        }

        &-raw {
            margin-top: 10px;
            font-family: monospace;
            line-height: 20px;
        }

        &-showraw {
            position: absolute;
            bottom: 5px;
            right: 5px;
            cursor: pointer;
            font-size: 13px;
            color: $primaryTextColor;
        }
    }
}

.messages-list {
    overflow-y: scroll;
    height: 100%;
    padding: 0 5px;
    word-wrap: break-word;
}