.expandable-panel-root {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding-left: 10px;
}

.expandable-panel-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 40px;

    .expandable-panel-header-icon {
        height: 15px;
        width: 15px;
        cursor: pointer;
        background-size: 100%;
        margin-right: 15px;

        &.expanded {
            background-image: url(../../resources/icons/expand-on.svg);
        }

        &.hidden {
            background-image: url(../../resources/icons/expand-off.svg);
        }
    }
}

.expandable-panel-body {
    display: block;
    padding: 10px;
    
}

.expandable-panel-body-hidden {
    @extend .expandable-panel-body;
    display: none;
}