@import "vars";

body {
    margin: 0;
}

.root {
    display: block;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 8px;

    div {
        box-sizing: border-box;
    }
}

.button-root {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    border: 1.5px solid transparent;
    border-radius: 7px;
    cursor: pointer;

    &.toggled {
        border-color: black;
        border-radius: 7px;
        background: transparent;
    }

    background: $buttonDisabledBackground;
    height: 38px;
    
    p {
        color: $primaryTextColor;
        margin: 0 20px;
    }
}