@import "vars";
@font-face{
    font-family: 'Open sans';
    font-weight: normal;
    src: url('../../resources/fonts/open-sans-v15-latin-regular.woff')
}

@font-face {
    font-family: 'Open sans';
    font-weight: bold;
    src: url('../../resources/fonts/open-sans-v15-latin-600.woff')
}

body {
    margin: 0;
}

.root {
    font-family: Open sans;
    display: block;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 8px;

    div {
        box-sizing: border-box;
    }

    p, span, h1, h2, h3, h4, h5 {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }
}

.button-root {
    @include nonselect;
    display: inline-flex;
    height: 38px;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    border: 1.5px solid transparent;
    border-radius: 7px;
    cursor: pointer;

    &.toggled {
        border-radius: 7px;
    }
    
    p {
        margin: 0 20px;
    }

    // themes for button
    &.green {
        background: $filterButtonDisabled;
        border-color: $filterButtonDisabled;
        height: 30px;

        &.toggled {
            background: $filterButtonEnabled;
            border-color: $filterButtonEnabled;
        }

        p {
            color: $filterButtonTextColor;
            font-size: 14px;
        }
    }

    &.default {
        background: $buttonDisabledBackground;

        &.toggled {
            border-color: black;
            background: transparent;
        }

        p {
            color: $primaryTextColor;
        }
    }
}
