.gradle

#elcipse files
.metadata
.recommenders
.settings
.classpath
.project
RemoteSystemsTempFiles
Servers

build
srcgen
shared
gen
bin
external
provided

#temp files
.*.swp
.~*.*#

#test files
derby.log

#IntelliJ IDEA files
*.iml
*.iws
.idea
out

#tomcat files
apache-tomcat*

#build info file
buildinfo.htm

#JMH files
BenchmarkList
CompilerHints

#Sailfish
shared_workspace
tmp_workspace
shared