@import "./common/vars";

.known-bugs {
    grid-area: bugs-summary;

    &__category {
        display: grid;
        grid-template: auto / auto 1fr;
        grid-template-areas: "title container";

        &__name {
            color: $primaryTextColor;
            grid-area: title;
            padding: 5px;
        }

        &__container {
            grid-area: container;

            &__bugs {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    &__indicator {
        grid-area: bugs-indicator;
    
        @include icon(null, 22px, 22px);
        margin: 7px 12px;
    
        &.reproduced {
            background-image: url(../../resources/icons/known-bug-reproduced.svg);
        }
    
        &.not-reproduced {
            background-image: url(../../resources/icons/known-bug-not-reproduced.svg);
        }
    }

    &__bug {
        border-radius: 2px;
        height: 32px;
        line-height: 22px;

        padding: 5px 7px;
        margin: 2px;

        &.reproduced {
            color: $conditionallyPassedTextColor;
            background-color: $conditionallyPassedHeaderSecondaryBackground;
        }

        &.not-reproduced {
            color: $primaryTextColor;
            background-color: $defaultCardBackground;
        }
    }
}
