/******************************************************************************
 * Copyright 2009-2019 Exactpro (Exactpro Systems Limited)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 ******************************************************************************/
 
@import "vars"; 

.layout {
    display: grid;
    height: 100%;
    grid-template: auto 1fr / 1fr;
    grid-template-areas:
        "header" 
        "main-content";

    &-header {
        grid-area: header;
    }

    &-body {
        grid-area: main-content;

        &-wrapper {
            height: 100%;
        }
        
        &-panel {
            height: 100%;

            &-controls {
                height: 50px;
                width: 100%;
                position: relative;

                &-panels {
                    display: inline-flex;
                    justify-content: flex-start;
                    align-items: center;
                    grid-area: left;
                    position: absolute;
                    top: 6px;
                    left: 4px;
                    background-color: #ffffff;
                    z-index: 4;
                }

                &-left, &-right {
                    position: absolute;
                    right: 10px;
                    top: 4px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 7px 7px 10px 7px;
                }

                &-left-checkpoints {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 5px 7px 0px 7px;
        
                    &.disabled {
                        filter: opacity(0.5);
                        cursor: default;
                    }
                    
                    &-icon {
                        height: 20px;
                        width: 20px;
                        background-image: url(../../resources/icons/checkpoint.svg);
                        background-size: 100%;
                    }
        
                    &-title, &-count {
                        font-size: 15px;
                        font-weight: bold;
                        padding: 0 10px;
                        color: $primaryTextColor;
                        min-width: 60px;
                    }
        
                    &-btn {
                        height: 20px;
                        width: 20px;
                        background-size: 100%;
                        filter: opacity(0.7);
                        cursor: pointer;
        
                        &.prev {
                            background-image: url(../../resources/icons/arr1-left.svg);
                        }
        
                        &.next {
                            background-image: url(../../resources/icons/arr1-right.svg)
                        }
                    }
                }

                &-right {
                    
                    &-rejected {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 7px 7px 10px 7px;
                        
                        &-icon {
                            height: 20px;
                            width: 20px;
                            background-image: url(../../resources/icons/rejected-icon.svg);
                            background-size: 100%;
                            cursor: pointer;
                        }
            
                        &-title, &-count {
                            @include unselectable;
                            font-size: 15px;
                            font-weight: bold;
                            padding: 0 10px;
                            color: $primaryTextColor;
                        }
            
                        &-btn {
                            height: 20px;
                            width: 20px;
                            background-size: 100%;
                            filter: opacity(0.7);
                            cursor: pointer;
            
                            &.prev {
                                background-image: url(../../resources/icons/arr1-left.svg);
                            }
            
                            &.next {
                                background-image: url(../../resources/icons/arr1-right.svg)
                            }
                        }
            
                        &.disabled {
                            filter: opacity(0.5);
                            cursor: default;
                        }
                    }
            
                    &-admin {
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 7px;
                        cursor: pointer;
            
                        &.disabled {
                            filter: opacity(0.5);
                            cursor: default;
                        }
            
                        &-title {
                            @include unselectable;
                            font-size: 15px;
                            font-weight: bold;
                            padding-left: 8px;
                            padding-right: 5px;
                            color: $primaryTextColor;
            
                            &.active {
                                color: $adminMessageLabelBackground;
                            }
                        }
            
                        &-icon {
                            height: 20px;
                            width: 20px;
                            background-image: url(../../resources/icons/admin-icon.svg);
                            background-size: 100%;
                            filter: opacity(0.5);
            
                            &.active {
                                background-image: url(../../resources/icons/admin-icon-active.svg)
                            }
                        }
                    }
            
                    &-predictions {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 7px 7px 10px 7px;
            
                        // disabled
                        filter: opacity(0.3);
                        cursor: not-allowed;
            
                        &-title {
                            @include unselectable;
                            font-size: 15px;
                            font-weight: bold;
                            padding-left: 8px;
                            padding-right: 5px;
                            color: $failedTextColor;
                        }
            
                        &-icon {
                            height: 20px;
                            width: 20px;
                            background-image: url(../../resources/icons/ml-control-icon-active.svg);
                            background-size: 100%;
                        }
                    }
                    
                }
            }

            &-content {
                width: 100%;
                // we need calc here to work fine with control header in top of the root element
                height: calc(100% - 50px);
                position: relative;

                &-wrapper {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;

                    &.disabled {
                        display: none;
                    }
                }
            }
        }        
    }
}   
