@mixin ml-icon {
    &-icon {
        background-size: 100%;
        width: 22px;
        height: 22px;

        &.inactive {
            background-image: url(../../resources/icons/ml-message.svg);
            filter: opacity(0.2);
        }

        &.active {
            background-image: url(../../resources/icons/ml-message.svg);
            cursor: pointer;
            filter: opacity(0.8);
        }

        &.submitted {
            background-image: url(../../resources/icons/ml-message-submitted.svg);
            cursor: pointer;
            filter: opacity(0.8);
        }
    }
}

@mixin ml-counter {
    &-counter {
        margin-left: 4px;
        font-size: 11pt;
        font-weight: bold;

        &.active {
            color: #999999;
        }

        &.submitted {
            color: #59B368;
        }
    }
}