$ml-icon-size: 22px;
$ml-accent-color: #59B368;
$ml-gray-color: #999999;

@mixin ml-icon {
    &-icon {
        background-size: 100%;
        width: $ml-icon-size;
        height: $ml-icon-size;

        &.inactive {
            background-image: url(../../resources/icons/ml-message.svg);
            filter: opacity(0.2);
        }

        &.active {
            background-image: url(../../resources/icons/ml-message.svg);
            filter: opacity(0.8);
        }

        &.submitted {
            background-image: url(../../resources/icons/ml-message-submitted.svg);
            filter: opacity(0.8);
        }

        &.not-required {
            background-image: url(../../resources/icons/ml-message-submitted.svg);
            filter: opacity(0.2);
        }
    }
}

@mixin ml-counter {
    &-counter {
        margin-left: 4px;
        font-size: 11pt;
        font-weight: bold;

        &.active {
            color: $ml-gray-color;
        }

        &.submitted {
            color: $ml-accent-color;
        }
    }
}

@mixin ml-indicator {
    &-indicator {
        @include ml-icon;

        height: $ml-icon-size;

        display: flex;
        flex-direction: row;

        &-text {
            font-size: 13px;
            height: 18px;
            margin: 2px;

            margin-left: 9px;

            &.submitted {
                color: $ml-accent-color;
            }

            &.not-required {
                opacity: 0.4;
                color: $ml-accent-color;
            }

            &.unavailable {
                opacity: 0.4;
            }
        }
    }
    
}