.eps-matrix-text-container {
	top: 50px;
}

.eps-plain-text-editor-buttons-panel > * {
	vertical-align: top;
}

.eps-plain-text-editor-buttons-panel {
    padding-top: 5px;
}

#buttonReturn {
	margin-left: 10px;
	margin-right: 10px;
}

#buttonLoad, #buttonSave {
	margin-left: 1px;
	margin-right: 1px;
}

.eps-custom-checkbox-script-param {
	margin-left: 5px;
	margin-right: 5px;
}

.eps-input {
	margin-left: 5px;
	margin-right: 5px;
	text-align:left;
}

#selectedEnvironment {
    width: 145px;
}

#selectedType, #selectedEncoding {
	width: 90px;
}

#buttonRun {
	margin-left: 5px;
}

#range {
	padding: 5px;
	width: 90px; 
}

#scriptRunResult {
	width: 100%;
}

#dataTable {
	width: 100%;
	min-height: 450px;
	font-weight: normal;
}

.eps-custom-checkbox-script-param:after {
	top: 28px;	
}